
 
<style type="text/css">
	.title {
	  float:left;
	  width:20%;
	}
	.main {
	  float:left;
	  width:60%;
	}
	h3{
		color:DodgerBlue;
		letter-spacing: 3px;
		text-shadow: 1px 1px Fuchsia;
		padding:8px;
  	  	margin-top:7px;
	}
	p {
		color:grey;
		padding:10px;
  	  	margin-top:7px;
	}
</style>

<%= image_tag('profile.jpg',width:'200') %>
 	
<div style="overflow:auto">
	
  <div class="title">
    <h3>Name:</h3>
    <h3>From:</h3>
    <h3>Year:</h3>
    <h3>Fun fact:</h3>
    <h3>Excited about:</h3>
  </div>

  <div class="main">
    <p>Kyra</p>
    <p>Taiwan</p>
    <p>Grad</p>
    <p>Love Matcha</p>
    <p>Being an expert in web app.</p>
  </div>
</div>


